/*------- Font Family Starts -------*/

@font-face {
    font-family: "hiragino-kaku-gothic-pron-w3";
    src: url("../fonts/hiragino-kaku-gothic-pron-w3.otf");
}

@font-face {
    font-family: "hiragino-kaku-gothic-pron-w6";
    src: url("../fonts/hiragino-kaku-gothic-pron-w6.otf");
}

/*------- Font Family Ends -------*/

/*------- Reset CSS Starts -------*/

html {
    letter-spacing: 1px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

ul,
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

a,
a:hover,
a:focus {
    outline: 0;
    text-decoration: none;
    -webkit-transition: 0.5s linear;
    -moz-transition: 0.5s linear;
    -ms-transition: 0.5s linear;
    -o-transition: 0.5s linear;
    transition: 0.5s linear;
}

/*------- Reset CSS Ends -------*/

/*------- Common CSS Starts -------*/

body {
    background-color: #F8F8F5;
    overflow-x: hidden;
}

body.active {
    overflow: hidden;
}

.flex-align-center {
    -ms-align-items: center;
    align-items: center;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
}

/*------- Common CSS Ends -------*/

/*------- Home Page Starts -------*/

/*------- Mobile Logo and Burger Menu Section Starts -------*/

.bg-logo-burger-menu-home {
    display: none;
}

/*------- Mobile Logo and Burger Menu Section Ends -------*/

/*------- Sidebar Menu Section Starts -------*/

.fixed-sidebar {
    display: none;
}

/*------- Sidebar Menu Section Ends -------*/

/*------- Desktop Logo and Navigationbar Menu Section Starts -------*/

.bg-logo-navbar-menu-desktop {
    background: linear-gradient(#F8F8F5, #EDEDDC);
    display: block;
    padding: 20px 15px;
}

.header-logo-desktop > a {
    display: inline-block;
}

.header-logo-desktop > a > img {
    width: 125px;
}

.menu-listing-desktop {
    text-align: right;
}

.menu-listing-desktop > li {
    display: inline-block;
    margin-right: 50px;
}

.menu-listing-desktop > li:last-child {
    margin-right: 0;
}

.menu-listing-desktop > li > a {
    color: #000000;
    font: 14px/19px "hiragino-kaku-gothic-pron-w6";
    padding: 0 0 35px;
    position: relative;
}

.menu-listing-desktop > li > a::after {
    background-color: #40AB87;
    bottom: 0;
    content: "";
    height: 5px;
    left: 0;
    position: absolute;
    -webkit-transition: 0.5s linear;
    -moz-transition: 0.5s linear;
    -ms-transition: 0.5s linear;
    -o-transition: 0.5s linear;
    transition: 0.5s linear;
    width: 0;
}

.menu-listing-desktop > li.active > a::after,
.menu-listing-desktop > li > a:hover::after {
    width: 100%;
}

/*------- Desktop Logo and Navigationbar Menu Section Ends -------*/

/*------- Header Banner Section Starts -------*/

.bg-header-banner-home {
    background: url("../images/header-banner.jpg") no-repeat top/cover;
    padding: 110px 15px;
}

.header-banner-info-home > h1 {
    color: #fff;
    font: 45px/56.5px "hiragino-kaku-gothic-pron-w6";
    margin-bottom: 30px;
    text-align: center;
}

.header-banner-info-home > h1 > span {
    display: block;
}

.header-banner-info-home > p {
    color: #fff;
    font: 16px/21px "hiragino-kaku-gothic-pron-w6";
    text-align: center;
}

/*------- Header Banner Section Ends -------*/

/*------- Map and Form Section Starts -------*/

.bg-map-form-home {
    padding: 50px 15px 0;
}

.box-map-heading-home,
.box-form-heading-home {
    background-color: #4086AB;
    -webkit-border-radius: 10px 10px 0 0;
    -moz-border-radius: 10px 10px 0 0;
    -ms-border-radius: 10px 10px 0 0;
    -o-border-radius: 10px 10px 0 0;
    border-radius: 10px 10px 0 0;
    padding: 10px;
}

.image-mapping-content-home {
    margin-bottom: 30px;
}

.image-mapping-content-home > p {
    color: #000000;
    font: 35px/52.5px "hiragino-kaku-gothic-pron-w6";
    position: relative;
}

.image-mapping-content-home > p::after {
    background-color: #EFE24C;
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    height: 8px;
    width: 90%;
}

.image-mapping-img-home > img {
    width: 100%;
}

.box-form-heading-home {
    background-color: #ADC202;
}

.box-map-heading-home > h3,
.box-form-heading-home > h3 {
    color: #fff;
    font: 24px/32px "hiragino-kaku-gothic-pron-w6";
    text-align: center;
}

.box-map-body-home,
.box-form-body-home {
    background-color: #D3E5EF;
    -webkit-border-radius: 0 0 10px 10px;
    -moz-border-radius: 0 0 10px 10px;
    -ms-border-radius: 0 0 10px 10px;
    -o-border-radius: 0 0 10px 10px;
    border-radius: 0 0 10px 10px;
    padding: 30px;
}

.box-form-body-home {
    background-color: #E4E4E4;
}

.box-specify-condition-heading-home {
    border-bottom: 1px dotted #808080;
    margin-bottom: 15px;
    padding-bottom: 5px;
}

.box-specify-condition-heading-home > i {
    color: #ADC202;
    margin-right: 5px;
}

.box-specify-condition-heading-home > span {
    color: #000;
    font: 16px/21px "hiragino-kaku-gothic-pron-w6";
}

.box-specify-condition-heading-home > p {
    color: #000000;
    font: 16px/21px "hiragino-kaku-gothic-pron-w6";
}

/*------- Custom Dropdown CSS Starts -------*/

.custom-selection {
    margin-bottom: 15px;
    position: relative;
    width: 100%;
}

.custom-selection select {
    /*display: none;*/
}

.select-selected {
    background-color: #fff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
}

.select-selected:after {
    color: #000000;
    content: "\f0dd";
    font-family: "Font Awesome 5 Free";
    font-size: 16px;
    font-weight: 900;
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
    right: 15px;
}

.select-selected.active:after {
    content: "\f0dd";
}

.select-selected.select-arrow-active:after {
    border-color: transparent transparent #fff transparent;
    top: 40%;
    transform: translateY(-50%);
}

.select-items div,
.select-selected {
    color: #C6C6C6;
    cursor: pointer;
    font: 16px/21px "hiragino-kaku-gothic-pron-w3";
    padding: 10px 15px;
    user-select: none;
}

.select-items {
    background-color: #fff;
    border: 1px solid #e8e8e8;
    box-shadow: 0 10px 11px rgba(0, 0, 0, .21);
    position: absolute;
    background-color: #fff;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
}

.select-items div {
    font: 16px/21px "hiragino-kaku-gothic-pron-w3";
    padding: 5px 15px;
}

.select-hide {
    display: none;
}

.select-items div:hover,
.same-as-selected {
    background-color: #ADC202;
    color: #fff;
}

/*------- Custom Dropdown CSS Ends -------*/

/*------- Custom Checkbox CSS Starts -------*/

.interview-content-label {
    display: block;
    margin-bottom: 10px;
    position: relative;
}

input[class="interview-content-checkbox-input"] {
    display: none;
}

input[class="interview-content-checkbox-input"] + span {
    background-color: #fff;
    display: block;
    height: 20px;
    left: 0;
    position: absolute;
    top: 0;
    width: 20px;
}

input[class="interview-content-checkbox-input"] + span:after {
    border-width: 0 2px 2px 0;
    border-color: #fff;
    border-style: solid;
    content: "";
    height: 9px;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg) scale(0);
    -webkit-transform: translate(-50%, -50%) rotate(45deg) scale(0);
    -moz-transform: translate(-50%, -50%) rotate(45deg) scale(0);
    -ms-transform: translate(-50%, -50%) rotate(45deg) scale(0);
    -o-transform: translate(-50%, -50%) rotate(45deg) scale(0);
    transition: 0.3s ease;
    -webkit-transition: 0.3s ease;
    -moz-transition: 0.3s ease;
    -ms-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    width: 5px;
}

/*input[class="interview-content-checkbox-input"] + span + span {*/
input[class="interview-content-checkbox-input"] + span + span {
    color: #000000;
    display: block;
    font: 14px/19px "hiragino-kaku-gothic-pron-w3";
    padding-left: 30px;
    word-break: break-all;
}

input[class="interview-content-checkbox-input"]:checked + span {
    background-color: #4086AB;
}

input[class="interview-content-checkbox-input"]:checked + span:after {
    transform: translate(-50%, -50%) rotate(45deg) scale(1);
    -webkit-transform: translate(-50%, -50%) rotate(45deg) scale(1);
    -moz-transform: translate(-50%, -50%) rotate(45deg) scale(1);
    -ms-transform: translate(-50%, -50%) rotate(45deg) scale(1);
    -o-transform: translate(-50%, -50%) rotate(45deg) scale(1);
}

/*------- Custom Checkbox CSS Ends -------*/

.box-interview-content-home,
.box-interview-video-home {
    margin-bottom: 5px;
}

.form-cotrol-free-word {
    border: 0;
    color: #C6C6C6;
    font: 14px/19px "hiragino-kaku-gothic-pron-w3";
    height: 30px;
    margin-bottom: 15px;
}

.form-cotrol-free-word::placeholder {
    color: #C6C6C6;
    opacity: 1;
}

.form-cotrol-free-word:-ms-input-placeholder {
    color: #C6C6C6;
}

.form-cotrol-free-word::-ms-input-placeholder {
    color: #C6C6C6;
}

.form-cotrol-free-word:focus {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
}

.box-hit-home {
    margin-bottom: 15px;
}

.box-hit-home > p {
    color: #EA7875;
    font: 20px/27px "hiragino-kaku-gothic-pron-w6";
}

.box-hit-home > p > span {
    color: #000000;
    font: 12px/16px "hiragino-kaku-gothic-pron-w3";
    /*padding-left: 15px;*/
}

.search-by-selected-conditions {
    text-align: center;
}

.btn-selected-conditions {
    background-color: #EA7875;
    border: 0;
    border-bottom: 4px solid #A92781;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    color: #fff;
    font: 14px/19px "hiragino-kaku-gothic-pron-w6";
    padding: 10px 15px;
    -webkit-transition: 0.5s linear;
    -moz-transition: 0.5s linear;
    -ms-transition: 0.5s linear;
    -o-transition: 0.5s linear;
    transition: 0.5s linear;
}

.btn-selected-conditions:hover {
    background-color: #A92781;
}

.btn-selected-conditions:focus {
    outline: 0;
}

/*------- Map and Form Section Ends -------*/

/*------- Recommended Interview Article and Ranking View Section Starts -------*/

.bg-recommend-interview-article-view-home,
.bg-ranking-view-home {
    padding: 50px 15px 0;
}

.box-recommend-interview-article-view-heading-home,
.box-ranking-view-heading-home {
    background-color: #40AB87;
    -webkit-border-radius: 10px 10px 0 0;
    -moz-border-radius: 10px 10px 0 0;
    -ms-border-radius: 10px 10px 0 0;
    -o-border-radius: 10px 10px 0 0;
    border-radius: 10px 10px 0 0;
    padding: 10px;
}

.box-recommend-interview-article-view-heading-home {
    background-color: #EEB845;
    position: relative;
}

.box-recommend-interview-article-view-heading-home > h3,
.box-ranking-view-heading-home > h3 {
    color: #fff;
    font: 24px/32px "hiragino-kaku-gothic-pron-w6";
    text-align: center;
}

.recommend-articles-list-home {
    position: absolute;
    right: 30px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}

.recommend-articles-list-home > a {
    color: #fff;
    display: block;
    font: 14px/19px "hiragino-kaku-gothic-pron-w6";
}

.recommend-articles-list-home > a > i {
    padding-left: 5px;
}

.box-recommend-interview-article-view-body-home,
.box-ranking-view-body-home {
    background-color: #fff;
    padding: 30px;
}

.box-inner-recommend-interview-article-view-home,
.box-inner-ranking-view-home {
    background-color: #fff;
    -webkit-box-shadow: 2px 3px 4px 1px #dedede;
    -moz-box-shadow: 2px 3px 4px 1px #dedede;
    -ms-box-shadow: 2px 3px 4px 1px #dedede;
    -o-box-shadow: 2px 3px 4px 1px #dedede;
    box-shadow: 2px 3px 4px 1px #dedede;
    padding: 5px;
}

.box-inner-recommend-interview-article-view-img-home,
.box-inner-ranking-view-img-home {
    background-color: #D8D8D8;
    height: 250px;
    position: relative;
    width: 100%;
}

.box-inner-ranking-view-img-num-home {
    left: 0;
    position: absolute;
    top: 0;
}

.box-inner-ranking-view-img-num-home > p {
    background-color: #EA7875;
    color: #fff;
    font: 20px/27px "hiragino-kaku-gothic-pron-w3";
    height: 43px;
    line-height: 43px;
    text-align: center;
    width: 40px;
}

.box-inner-recommend-interview-article-view-body-home,
.box-inner-ranking-view-body-home {
    padding: 10px;
}

.box-inner-recommend-interview-article-view-info-home  > h6,
.box-inner-recommend-interview-article-view-info-home  > a > h6,
.box-inner-ranking-view-info-home > h6,
.box-inner-ranking-view-info-home > a > h6 {
    color: #909090;
    font: 14px/19px "hiragino-kaku-gothic-pron-w3";
    margin-bottom: 5px;
}

.ranking-view-listing-home {
    margin-bottom: 5px;
}

.ranking-view-listing-home > li {
    display: inline-block;
    margin: 0 10px 10px 0;
}

.ranking-view-listing-home > li:last-child {
    margin-right: 0;
}

.ranking-view-listing-home > li:nth-child(odd) {
    background-color: #ADC202;
}

.ranking-view-listing-home > li:nth-child(even) {
    background-color: #4086AB;
}

.ranking-view-listing-home > li {
    color: #fff;
    font: 12px/16px "hiragino-kaku-gothic-pron-w3";
    padding: 3px 10px;
}

.box-inner-recommend-interview-article-view-info-home > p,
.box-inner-ranking-view-info-home > p {
    color: #000000;
    font: 16px/21px "hiragino-kaku-gothic-pron-w3";
}

/*------- Recommended Interview Article and Ranking View Section Ends -------*/

/*------- New Interview Article and with Video Section Starts -------*/

.bg-new-interview-article-video-home {
    padding: 50px 15px 0;
}

.box-new-interview-article-heading-home,
.box-new-interview-article-video-heading-home {
    background-color: #ADC202;
    -webkit-border-radius: 10px 10px 0 0;
    -moz-border-radius: 10px 10px 0 0;
    -ms-border-radius: 10px 10px 0 0;
    -o-border-radius: 10px 10px 0 0;
    border-radius: 10px 10px 0 0;
    padding: 10px;
}

.box-new-interview-article-video-heading-home {
    background-color: #4086AB;
}

.box-new-interview-article-heading-home > h3,
.box-new-interview-article-video-heading-home > h3 {
    color: #fff;
    font: 24px/32px "hiragino-kaku-gothic-pron-w6";
    text-align: center;
}

.box-new-interview-article-body-home,
.box-new-interview-article-video-body-home {
    background-color: #fff;
    padding: 30px;
}

.box-new-interview-article-img-info-home,
.box-new-interview-article-video-img-info-home {
    border: 5px solid #fff;
    -webkit-box-shadow: 2px 3px 4px 1px #dedede;
    -moz-box-shadow: 2px 3px 4px 1px #dedede;
    -ms-box-shadow: 2px 3px 4px 1px #dedede;
    -o-box-shadow: 2px 3px 4px 1px #dedede;
    box-shadow: 2px 3px 4px 1px #dedede;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 15px;
}

.box-new-interview-article-img-home,
.box-new-interview-article-video-img-home {
    overflow: hidden;
    position: relative;
    width: 38%;
    height: 160px;
}

.box-new-interview-article-img-home > a,
.box-new-interview-article-video-img-home > a {
    background-color: #D8D8D8;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -ms-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
}

.box-new-interview-article-info-home,
.box-new-interview-article-video-info-home {
    padding: 15px;
    width: 60%;
}

.box-new-interview-article-info-home > h6,
.box-new-interview-article-video-info-home > h6 {
    color: #909090;
    font: 14px/19px "hiragino-kaku-gothic-pron-w3";
    margin-bottom: 5px;
}

.box-new-interview-article-info-home > p,
.box-new-interview-article-video-info-home > p {
    color: #000;
    font: 16px/21px "hiragino-kaku-gothic-pron-w6";
}

.new-article-list-home,
.new-article-video-list-home {
    text-align: right;
}

.new-article-list-home > a,
.new-article-video-list-home > a {
    color: #000000;
    display: inline-block;
    font: 14px/19px "hiragino-kaku-gothic-pron-w6";
}

.new-article-list-home > a > i,
.new-article-video-list-home > a > i {
    padding-left: 5px;
}

/*------- New Interview Article and with Video Section Ends -------*/

/*------- Banner Section Starts -------*/

.bg-banner-home {
    padding: 50px 15px;
}

.box-banner-home {
    background-color: #D8D8D8;
    border: 5px solid #fff;
    height: 100px;
    width: 100%;
}

.box-banner-home > p {
    color: #fff;
    font: 16px/21px "hiragino-kaku-gothic-pron-w6";
    line-height: 100px;
    text-align: center;
}

/*------- Banner Section Ends -------*/

/*------- Footer Menu Section Starts -------*/

.bg-footer-menu-home {
    background-color: #fff;
    padding: 30px 15px;
}

.footer-menu-listing-home {
    text-align: center;
}

.footer-menu-listing-home > li {
    display: inline-block;
    margin-right: 50px;
}

.footer-menu-listing-home > li:last-child {
    margin-right: 0;
}

.footer-menu-listing-home > li > a {
    color: #4086AB;
    font: 14px/19px "hiragino-kaku-gothic-pron-w6";
}

/*------- Footer Menu Section Ends -------*/

/*------- Footer and Copyright Section Starts -------*/

.bg-footer-home {
    background-color: #4086AB;
    padding: 50px 15px 15px;
}

.footer-logo-home {
    margin-bottom: 30px;
    text-align: center;
}

.footer-logo-home > a {
    display: inline-block;
}

.footer-logo-home > a > img {
    margin: 0 auto;
}

.footer-listing-home {
    text-align: center;
}

.footer-listing-home > li {
    display: inline-block;
    margin-right: 30px;
}

.footer-listing-home > li:last-child {
    margin-right: 0;
}

.footer-listing-home > li > a {
    color: #fff;
    display: block;
    font: 14px/19px "hiragino-kaku-gothic-pron-w6";
}

.bg-copyright-home {
    background-color: #4086AB;
    border-top: 1px solid #fff;
}

.copyright-info {
    text-align: center;
}

.copyright-info > p {
    color: #fff;
    font: 12px/16px "hiragino-kaku-gothic-pron-w3";
    padding: 15px;
}

/*------- Footer and Copyright Section Ends -------*/

/*------- Home Page Ends -------*/

/*------- Interview Article List Page Starts -------*/

/*------- Heading and Description Second Starts -------*/

.bg-interview-articles-lhd-ialp {
    padding: 30px 15px 0;
}

.box-interview-articles-lhd > p:first-child {
    margin-bottom: 30px;
}

.box-interview-articles-lhd > p:first-child > a {
    color: #000000;
    font: 14px/19px "hiragino-kaku-gothic-pron-w3";
}

.box-interview-articles-lhd > p > i {
    color: #909090;
    padding: 0 30px;
}

.box-interview-articles-lhd > h1 {
    color: #000000;
    font: 32px/43px "hiragino-kaku-gothic-pron-w6";
    margin-bottom: 30px;
}

.box-interview-articles-lhd > p:last-child {
    color: #000000;
    font: 14px/19px "hiragino-kaku-gothic-pron-w3";
}

/*------- Heading and Description Second Ends -------*/

/*------- Interview Articles Section Starts -------*/

.bg-interview-articles-ialp {
    padding: 30px 15px;
}

.box-interview-article-img-info-ialp {
    background-color: #fff;
    border: 5px solid #fff;
    -webkit-box-shadow: 2px 3px 4px 1px #dedede;
    -moz-box-shadow: 2px 3px 4px 1px #dedede;
    -ms-box-shadow: 2px 3px 4px 1px #dedede;
    -o-box-shadow: 2px 3px 4px 1px #dedede;
    box-shadow: 2px 3px 4px 1px #dedede;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-wrap: wrap;
    /*margin-bottom: 30px;*/
    margin: 12px;
}

.box-interview-article-img-info-ialp:last-child {
    /*margin-bottom: 0;*/
}

.box-interview-article-img-ialp {
    overflow: hidden;
    position: relative;
    width: 38%;
    height: 250px;
}

.box-interview-article-img-ialp > a {
    background: url("../images/interview-article-img.jpg") no-repeat top/cover;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -ms-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
}

.box-interview-article-info-ialp {
    padding: 15px;
    width: 60%;
}

.ranking-view-listing-ialp {
    margin-bottom: 5px;
}

.box-interview-article-info-ialp > h3 {
    border-bottom: 1px dotted #707070;
    color: #000000;
    font: 20px/30px "hiragino-kaku-gothic-pron-w6";
    margin-bottom: 15px;
    padding-bottom: 15px;
}

.person-info-ialp {
    margin-bottom: 15px;
}

.person-info-ialp > li {
    color: #000;
    font: 16px/21px "hiragino-kaku-gothic-pron-w6";
    margin-bottom: 10px;
    padding-left: 15px;
    position: relative;
}

.person-info-ialp > li:last-child {
    margin-bottom: 0;
}

.person-info-ialp > li::before {
    background-color: #4086AB;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    content: "";
    height: 8px;
    left: 0;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 8px;
}

.release-date-ialp > p,
.eye-num-ialp > span {
    color: #909090;
    font: 16px/21px "hiragino-kaku-gothic-pron-w3";
}

.eye-num-ialp {
    -ms-align-items: center;
    align-items: center;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
}

.eye-num-ialp > img {
    height: auto;
    margin-right: 5px;
    max-width: 100%;
}

.interview-article-listing-ialp {
    margin: 30px 0;
    text-align: center;
}

.interview-article-listing-ialp > li {
    display: inline-block;
    margin-right: 5px;
}

.interview-article-listing-ialp > li:last-child {
    margin-right: 0;
}

.interview-article-listing-ialp > li:not(.left-right-prev-next) > a {
    background-color: #fff;
    border: 1px solid #EDEDED;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    color: #000000;
    display: block;
    font: 14px/19px "hiragino-kaku-gothic-pron-w3";
    height: 35px;
    line-height: 35px;
    text-align: center;
    width: 35px;
}

.interview-article-listing-ialp > li.active > a,
.interview-article-listing-ialp > li > a:hover {
    background-color: #4086AB;
    color: #fff;
}

.interview-article-listing-ialp > li:first-child {
    margin-right: 10px;
}

.interview-article-listing-ialp > li:first-child > a,
.interview-article-listing-ialp > li:last-child > a {
    color: #000;
    font-size: 14px;
}

.interview-article-listing-ialp > li:nth-child(2) > a,
.interview-article-listing-ialp > li:nth-last-child(2) > a {
    color: #000;
    font: 14px/19px "hiragino-kaku-gothic-pron-w3";
}

.interview-article-listing-ialp > li:first-child > a:hover,
.interview-article-listing-ialp > li:nth-child(2) > a:hover,
.interview-article-listing-ialp > li:nth-last-child(2) > a:hover,
.interview-article-listing-ialp > li:last-child > a:hover {
    background-color: transparent;
    color: #000;
}

.box-form-ialp {
    margin-bottom: 30px;
}

.box-form-heading-ialp > h3 {
    font: 20px/27px "hiragino-kaku-gothic-pron-w6";
}

.box-recommend-interview-article-ialp,
.box-new-interview-article-ialp,
.box-interview-article-video-ialp {
    margin-bottom: 30px;
}

.box-recommend-interview-article-heading-ialp,
.box-new-interview-article-heading-ialp,
.box-interview-article-video-heading-ialp {
    background-color: #EEB845;
    -webkit-border-radius: 10px 10px 0 0;
    -moz-border-radius: 10px 10px 0 0;
    -ms-border-radius: 10px 10px 0 0;
    -o-border-radius: 10px 10px 0 0;
    border-radius: 10px 10px 0 0;
    padding: 10px;
}

.box-new-interview-article-heading-ialp {
    background-color: #ADC202;
}

.box-interview-article-video-heading-ialp {
    background-color: #4086AB;
}

.box-recommend-interview-article-heading-ialp > h3,
.box-new-interview-article-heading-ialp > h3,
.box-interview-article-video-heading-ialp > h3 {
    color: #fff;
    font: 20px/27px "hiragino-kaku-gothic-pron-w6";
    text-align: center;
}

.box-all-interview-article-body-ialp {
    background-color: #fff;
    -webkit-border-radius: 0 0 10px 10px;
    -moz-border-radius: 0 0 10px 10px;
    -ms-border-radius: 0 0 10px 10px;
    -o-border-radius: 0 0 10px 10px;
    border-radius: 0 0 10px 10px;
    padding: 15px;
}

.box-all-interview-img-info-ialp {
    background-color: #fff;
    border: 5px solid #fff;
    -webkit-box-shadow: 2px 3px 4px 1px #dedede;
    -moz-box-shadow: 2px 3px 4px 1px #dedede;
    -ms-box-shadow: 2px 3px 4px 1px #dedede;
    -o-box-shadow: 2px 3px 4px 1px #dedede;
    box-shadow: 2px 3px 4px 1px #dedede;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 15px;
    position: relative;
}

.box-all-interview-img-ialp {
    overflow: hidden;
    position: relative;
    width: 40%;
}

.box-all-interview-img-ialp img {
    width: 100%;
    height: 120px;
    object-fit: contain;
}

.box-article-img-iapp img {
    width: 100%;
    height: 120px;
    object-fit: contain;
}

.box-all-interview-img-ialp > a {
    background: url("../images/interview-article-img.jpg") no-repeat top/cover;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -ms-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
}

.box-all-interview-info-ialp {
    padding: 15px;
    width: 60%;
}

.box-all-interview-info-ialp > p {
    color: #000;
    font: 14px/21px "hiragino-kaku-gothic-pron-w3";
    margin-bottom: 10px;
}

.box-all-interview-info-ialp > p:last-child {
    margin-bottom: 0;
}

.all-article-list-ialp {
    text-align: right;
}

.all-article-list-ialp > a {
    color: #000000;
    display: inline-block;
    font: 14px/19px "hiragino-kaku-gothic-pron-w6";
}

.all-article-list-ialp > a > i {
    padding-left: 5px;
}

.box-banner-ialp {
    background-color: #D8D8D8;
    border: 5px solid #fff;
    height: 100px;
    margin-bottom: 30px;
    width: 100%;
}

.box-banner-ialp:last-child {
    margin-bottom: 0;
}

.box-banner-ialp > p {
    color: #fff;
    font: 16px/21px "hiragino-kaku-gothic-pron-w6";
    line-height: 100px;
    text-align: center;
}

/*------- Interview Articles Section Ends -------*/

/*------- Interview Article List Page Ends -------*/

/*------- Interview Article Page Starts -------*/

/*------- Page Listing Info Section Starts -------*/

.bg-interview-article-post-iapp {
    padding: 30px 15px 0;
}

.page-listing-iapp > p > a {
    color: #000000;
    font: 14px/19px "hiragino-kaku-gothic-pron-w3";
}

.page-listing-iapp > p > i {
    color: #909090;
    padding: 0 30px;
}

/*------- Page Listing Info Section Ends -------*/

/*------- Interview Article Post Section Starts -------*/

.bg-interview-article-post-info-iapp {
    padding: 30px 15px;
}

.box-interview-article-post-info-iapp {
    background-color: #fff;
    -webkit-box-shadow: 2px 3px 4px 1px #dedede;
    -moz-box-shadow: 2px 3px 4px 1px #dedede;
    -ms-box-shadow: 2px 3px 4px 1px #dedede;
    -o-box-shadow: 2px 3px 4px 1px #dedede;
    box-shadow: 2px 3px 4px 1px #dedede;
    margin-bottom: 30px;
    padding: 30px;
}

.interview-article-post-heading-info-iapp > h1 {
    color: #000;
    font: 32px/48px "hiragino-kaku-gothic-pron-w6";
    margin-bottom: 30px;
}

.relaes-date-info-iapp,
.eye-num-info-iapp {
    margin-bottom: 15px;
}

.relaes-date-info-iapp > p,
.eye-num-info-iapp > span {
    color: #909090;
    font: 16px/21px "hiragino-kaku-gothic-pron-w3";
}

.eye-num-info-iapp {
    -ms-align-items: center;
    align-items: center;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
}

.eye-num-info-iapp > img {
    height: auto;
    margin-right: 5px;
    max-width: 100%;
}

.interview-article-post-img-info-iapp > img {
    display: block;
    margin-bottom: 30px;
    width: 100%;
}

.interview-article-post-img-info-iapp > h6 {
    color: #000;
    font: 16px/21px "hiragino-kaku-gothic-pron-w3";
    margin-bottom: 10px;
}

.interview-article-post-img-info-iapp > h3 {
    color: #000;
    font: 24px/32px "hiragino-kaku-gothic-pron-w6";
    margin-bottom: 30px;
}

.table-iap-info-iapp {
    margin-bottom: 30px;
}

.table-iap-info-iapp > tbody > tr > td {
    border-top: 1px dotted #909090;
    color: #3E3E3E;
    font: 16px/24px "hiragino-kaku-gothic-pron-w3";
}

.table-iap-info-iapp > tbody > tr:last-child > td {
    border-bottom: 1px dotted #909090;
}

.table-iap-info-iapp > tbody > tr > td:first-child {
    background-color: #F7F8E0;
}

.box-sample-corpo-form-iapp {
    background-color: #E7EFF4;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    margin-bottom: 50px;
}

.sample-corpo-form-img-iapp {
    padding: 10px;
}

.sample-corpo-form-img-iapp > img {
    display: block;
    width: 100%;
}

.sample-corpo-form-iapp {
    padding: 10px;
}

.sample-corpo-form-heading-iapp > h3 {
    color: #000;
    font: 20px/27px "hiragino-kaku-gothic-pron-w6";
    margin-bottom: 10px;
}

.input-group-sm > .input-group-prepend > .input-group-sc-text {
    border: 0;
    -webkit-border-radius: 10px 0 0 10px;
    -moz-border-radius: 10px 0 0 10px;
    -ms-border-radius: 10px 0 0 10px;
    -o-border-radius: 10px 0 0 10px;
    border-radius: 10px 0 0 10px;
    display: block;
    padding: 5px 20px;
    text-align: center;
    width: 100px;
}

.input-group-sc-text {
    background-color: #4086AB;
    color: #fff;
    font: 14px/19px "hiragino-kaku-gothic-pron-w6";
}

.form-control-sc-iapp {
    border: 0;
    color: #000;
    font: 14px/21px "hiragino-kaku-gothic-pron-w3";
}

.form-control-sc-iapp::placeholder {
    color: #000;
    opacity: 1;
}

.form-control-sc-iapp:-ms-input-placeholder {
    color: #000;
}

.form-control-sc-iapp::-ms-input-placeholder {
    color: #000;
}

.form-control-sc-iapp:focus {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
}

.view-job-listing-ftj-iapp {
    text-align: center;
}

.btn-view-job-listing-iapp {
    background-color: #EA7875;
    border: 0;
    border-bottom: 4px solid #DB4945;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    color: #fff;
    font: 14px/19px "hiragino-kaku-gothic-pron-w6";
    padding: 10px 15px;
    -webkit-transition: 0.5s linear;
    -moz-transition: 0.5s linear;
    -ms-transition: 0.5s linear;
    -o-transition: 0.5s linear;
    transition: 0.5s linear;
}

.btn-view-job-listing-iapp:hover {
    background-color: #DB4945;
}

.btn-view-job-listing-iapp:focus {
    outline: 0;
}

.box-table-contents-info-iapp {
    border: 4px solid #F7F8E0;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;
    margin-bottom: 50px;
    padding: 30px;
}

.table-content-heading-iapp > p {
    color: #000;
    font: 16px/21px "hiragino-kaku-gothic-pron-w3";
    margin-bottom: 30px;
    text-align: center;
}

.table-content-heading-iapp > p > i {
    padding-left: 5px;
}

.table-content-listing > li {
    color: #000;
    display: block;
    font: 16px/24px "hiragino-kaku-gothic-pron-w3";
    margin-bottom: 10px;
    padding-left: 15px;
    position: relative;
}

.table-content-listing > li:last-child {
    margin-bottom: 0;
}

.table-content-listing > li::before {
    background-color: #4086AB;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    content: "";
    height: 8px;
    left: 0;
    position: absolute;
    top: 5px;
    width: 8px;
}

.faq-heading-desc-iapp > h2 {
    color: #000;
    font: 28px/42px "hiragino-kaku-gothic-pron-w6";
    margin-bottom: 30px;
    padding-bottom: 5px;
    position: relative;
}

.faq-heading-desc-iapp > h2::after {
    background-color: #4086AB;
    bottom: 0;
    content: "";
    height: 3px;
    left: 0;
    position: absolute;
    width: 100%;
}

.faq-que-ans-iapp {
    margin-bottom: 32px;
}

.faq-que-ans-iapp > h3 {
    color: #000;
    font: 20px/27px "hiragino-kaku-gothic-pron-w6";
    margin-bottom: 30px;
}

.faq-que-ans-iapp > p,
.faq-heading-desc-iapp > p {
    color: #000;
    font: 16px/24px "hiragino-kaku-gothic-pron-w3";
    margin-bottom: 30px;
}

.faq-heading-desc-iapp > img {
    display: block;
    margin-bottom: 30px;
    width: 100%;
}

.faq-heading-desc-iapp > h3 {
    color: #000;
    font: 20px/27px "hiragino-kaku-gothic-pron-w6";
    margin-bottom: 30px;
}

.box-faq-image-iapp > img {
    display: block;
    width: 100%;
}

.box-faq-image-desc-iapp > p {
    color: #000;
    font: 16px/24px "hiragino-kaku-gothic-pron-w3";
    margin-bottom: 30px;
}

.box-faq-image-desc-iapp > p:last-child {
    margin-bottom: 0;
}

.box-sample-corpo-form-two-iapp {
    margin: 30px 0 0;
}

.box-article-img-info-iapp {
    background-color: #fff;
    border: 5px solid #fff;
    -webkit-box-shadow: 2px 3px 4px 1px #dedede;
    -moz-box-shadow: 2px 3px 4px 1px #dedede;
    -ms-box-shadow: 2px 3px 4px 1px #dedede;
    -o-box-shadow: 2px 3px 4px 1px #dedede;
    box-shadow: 2px 3px 4px 1px #dedede;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

.box-article-img-iapp {
    overflow: hidden;
    position: relative;
    width: 40%;
}

.box-article-img-iapp > a {
    background: url("../images/interview-article-img.jpg") no-repeat top/cover;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -ms-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
}

.box-article-info-iapp {
    padding: 15px;
    width: 60%;
}

.box-article-info-iapp > p {
    color: #000;
    font: 14px/21px "hiragino-kaku-gothic-pron-w3";
    margin-bottom: 10px;
}

.box-article-info-iapp > p:last-child {
    margin-bottom: 0;
}

.box-interview-article-sc-heading-iapp {
    background-color: #ADC202;
    -webkit-border-radius: 10px 10px 0 0;
    -moz-border-radius: 10px 10px 0 0;
    -ms-border-radius: 10px 10px 0 0;
    -o-border-radius: 10px 10px 0 0;
    border-radius: 10px 10px 0 0;
    padding: 10px;
}

.box-monthly-view-ranking-heading-iapp {
    background-color: #40AB87;
}

.box-interview-article-sc-heading-iapp > h3 {
    color: #fff;
    font: 20px/27px "hiragino-kaku-gothic-pron-w6";
    text-align: center;
}

.box-interview-article-sc-body-iapp {
    background-color: #fff;
    -webkit-border-radius: 0 0 10px 10px;
    -moz-border-radius: 0 0 10px 10px;
    -ms-border-radius: 0 0 10px 10px;
    -o-border-radius: 0 0 10px 10px;
    border-radius: 0 0 10px 10px;
    padding: 15px;
}

.box-interview-article-sc-img-info-iapp {
    background-color: #fff;
    border: 5px solid #fff;
    -webkit-box-shadow: 2px 3px 4px 1px #dedede;
    -moz-box-shadow: 2px 3px 4px 1px #dedede;
    -ms-box-shadow: 2px 3px 4px 1px #dedede;
    -o-box-shadow: 2px 3px 4px 1px #dedede;
    box-shadow: 2px 3px 4px 1px #dedede;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 15px;
}

.box-interview-article-sc-img-info-iapp:last-child {
    margin-bottom: 0;
}

.box-interview-article-sc-img-iapp {
    overflow: hidden;
    position: relative;
    width: 40%;
}

.box-interview-article-sc-img-iapp > a {
    background: url("../images/interview-article-img.jpg") no-repeat top/cover;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -ms-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
}

.box-interview-article-sc-info-iapp {
    padding: 15px;
    width: 60%;
}

.box-interview-article-sc-info-iapp > p {
    color: #000;
    font: 14px/21px "hiragino-kaku-gothic-pron-w3";
    margin-bottom: 10px;
}

.box-interview-article-sc-info-iapp > p:last-child {
    margin-bottom: 0;
}

/*------- Interview Article Post Section Ends -------*/

/*------- Interview Article Page Ends -------*/

/*------- Job Listing Page Starts -------*/

/*------- Page Listing Info Section Starts -------*/

.bg-job-listing-jlp {
    padding: 30px 15px 0;
}

.page-listing-jlp > p > a {
    color: #000000;
    font: 14px/19px "hiragino-kaku-gothic-pron-w3";
}

.page-listing-jlp > p > i {
    color: #909090;
    padding: 0 30px;
}

/*------- Page Listing Info Section Ends -------*/

/*------- Job Listing Page Section Starts -------*/

.bg-job-listing-info-jlp {
    padding: 30px 15px;
}

.box-job-listing-info-jlp {
    background-color: #fff;
    -webkit-box-shadow: 2px 3px 4px 1px #dedede;
    -moz-box-shadow: 2px 3px 4px 1px #dedede;
    -ms-box-shadow: 2px 3px 4px 1px #dedede;
    -o-box-shadow: 2px 3px 4px 1px #dedede;
    box-shadow: 2px 3px 4px 1px #dedede;
    margin-bottom: 30px;
    padding: 30px;
}

.sample-corpo-info > h2 {
    color: #000000;
    font: 24px/32px "hiragino-kaku-gothic-pron-w3";
    margin-bottom: 15px;
}

.sample-corpo-info > h1 {
    color: #000000;
    font: 32px/48px "hiragino-kaku-gothic-pron-w6";
    margin-bottom: 30px;
}

.appeal-point-ihd-jlp > img {
    margin-bottom: 30px;
    width: 100%;
}

.appeal-point-ihd-jlp > h3 {
    border-bottom: 3px solid #EA7875;
    color: #000000;
    font: 24px/32px "hiragino-kaku-gothic-pron-w3";
    margin-bottom: 15px;
    padding-bottom: 10px;
}

.appeal-point-ihd-jlp > p {
    color: #000000;
    font: 16px/24px "hiragino-kaku-gothic-pron-w3";
    margin-bottom: 15px;
}

.appeal-point-ihd-jlp > p:last-child {
    margin-bottom: 30px;
}

.application-require-info-jlp > h2 {
    color: #000;
    font: 32px/48px "hiragino-kaku-gothic-pron-w6";
    margin-bottom: 15px;
    text-align: center;
}

.ar-info-left-jlp > p {
    background-color: #F7F8E0;
    color: #000000;
    font: 16px/24px "hiragino-kaku-gothic-pron-w3";
    padding: 10px;
}

.ar-info-right-jlp > p {
    color: #000000;
    font: 16px/24px "hiragino-kaku-gothic-pron-w3";
    padding: 10px;
}

.table-ar-info-jlp > tbody > tr > td {
    border-top: 1px dotted #909090;
    color: #3E3E3E;
    font: 16px/24px "hiragino-kaku-gothic-pron-w3";
}

.table-ar-info-jlp > tbody > tr:last-child > td {
    border-bottom: 1px dotted #909090;
}

.table-ar-info-jlp > tbody > tr > td:first-child {
    background-color: #F7F8E0;
}

.ar-info-listing-jlp > li {
    display: block;
    margin-bottom: 5px;
    padding-left: 15px;
    position: relative;
}

.ar-info-listing-jlp > li::before {
    background-color: #3E3E3E;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    content: "";
    height: 8px;
    left: 0;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 8px;
}

.form-call-listing-jlp {
    margin: 30px 0;
    text-align: center;
}

.form-call-listing-jlp > li {
    display: inline-block;
    margin-right: 15px;
}

.form-call-listing-jlp > li:last-child {
    margin-right: 0;
}

.form-call-listing-jlp > li > a {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;
    color: #fff;
    display: inline-block;
    font: 14px/19px "hiragino-kaku-gothic-pron-w6";
    padding: 10px 30px;
    text-align: center;
}

.form-call-listing-jlp > li:first-child > a {
    background-color: #EA7875;
    border-bottom: 4px solid #DB4945;
}

.form-call-listing-jlp > li:first-child > a:hover {
    background-color: #DB4945;
}

.form-call-listing-jlp > li:last-child > a {
    background-color: #DB4945;
    border-bottom: 4px solid #BA3E3B;
}

.form-call-listing-jlp > li:last-child > a:hover {
    background-color: #BA3E3B;
}

.box-interview-article-wsc-jlp,
.box-monthly-views-ranking-jlp {
    margin-bottom: 30px;
}

.box-interview-article-wsc-heading-jlp,
.box-monthly-views-ranking-heading-jlp {
    background-color: #EEB845;
    -webkit-border-radius: 10px 10px 0 0;
    -moz-border-radius: 10px 10px 0 0;
    -ms-border-radius: 10px 10px 0 0;
    -o-border-radius: 10px 10px 0 0;
    border-radius: 10px 10px 0 0;
    padding: 10px;
}

.box-monthly-views-ranking-heading-jlp {
    background-color: #40AB87;
}

.box-interview-article-wsc-heading-jlp > h3,
.box-monthly-views-ranking-heading-jlp > h3 {
    color: #fff;
    font: 20px/27px "hiragino-kaku-gothic-pron-w6";
    text-align: center;
}

.box-interview-article-wsc-body-jlp,
.box-monthly-views-ranking-body-jlp {
    background-color: #fff;
    -webkit-border-radius: 0 0 10px 10px;
    -moz-border-radius: 0 0 10px 10px;
    -ms-border-radius: 0 0 10px 10px;
    -o-border-radius: 0 0 10px 10px;
    border-radius: 0 0 10px 10px;
    padding: 15px;
}

.box-interview-wsc-img-info-jlp,
.box-monthly-views-ranking-img-info-jlp {
    background-color: #fff;
    border: 5px solid #fff;
    -webkit-box-shadow: 2px 3px 4px 1px #dedede;
    -moz-box-shadow: 2px 3px 4px 1px #dedede;
    -ms-box-shadow: 2px 3px 4px 1px #dedede;
    -o-box-shadow: 2px 3px 4px 1px #dedede;
    box-shadow: 2px 3px 4px 1px #dedede;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 15px;
}

.box-interview-wsc-img-jlp,
.box-monthly-views-ranking-img-jlp {
    overflow: hidden;
    position: relative;
    width: 40%;
}

.box-interview-wsc-img-jlp > a,
.box-monthly-views-ranking-img-jlp > a {
    background: url("../images/interview-article-img.jpg") no-repeat top/cover;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -ms-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
}

.box-interview-wsc-info-jlp,
.box-monthly-views-ranking-info-jlp {
    padding: 15px;
    width: 60%;
}

.box-interview-wsc-info-jlp > p,
.box-monthly-views-ranking-info-jlp > p {
    color: #000;
    font: 14px/21px "hiragino-kaku-gothic-pron-w3";
    margin-bottom: 10px;
}

.box-interview-wsc-info-jlp > p:last-child,
.box-monthly-views-ranking-info-jlp > p:last-child {
    margin-bottom: 0;
}

.all-article-list-jlp {
    text-align: right;
}

.all-article-list-jlp > a {
    color: #000000;
    display: inline-block;
    font: 14px/19px "hiragino-kaku-gothic-pron-w6";
}

.all-article-list-jlp > a > i {
    padding-left: 5px;
}

/*------- Job Listing Page Section Ends -------*/

/*------- Job Listing Page Ends -------*/

/*------- Contact Us Page Starts -------*/

/*------- Contact Form Section Starts -------*/

.bg-contact-form-cp {
    padding: 50px 15px;
}

.apply-job-heading-cp > h1 {
    color: #000;
    font: 32px/43px "hiragino-kaku-gothic-pron-w6";
    margin-bottom: 30px;
    text-align: center;
}

.required-form-cp > p {
    color: #EA7875;
    font: 16px/21px "hiragino-kaku-gothic-pron-w6";
    margin-bottom: 15px;
}

.form-heading-cp {
    color: #000;
    font: 16px/21px "hiragino-kaku-gothic-pron-w6";
}

.form-heading-cp > span {
    color: #EA7875;
}

.form-control-cp {
    background-color: #fff;
    border: 1px solid #E5E5E5;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    color: #000;
    font: 16px/21px "hiragino-kaku-gothic-pron-w6";
}

.form-control-cp::placeholder {
    color: #C6C6C6;
    opacity: 1;
}

.form-control-cp:-ms-input-placeholder {
    color: #C6C6C6;
}

.form-control-cp::-ms-input-placeholder {
    color: #C6C6C6;
}

.form-control-cp:focus {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
}

/*------- Custom Dropdown CSS Starts -------*/

.custom-selection-cp {
    position: relative;
    width: 100%;
}

.custom-selection-cp select {
    /*display: none;*/
}

.select-selected-cp {
    background-color: #fff;
    border: 1px solid #E5E5E5;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    width: 150px;
}

.select-selected-cp:after {
    color: #000000;
    content: "\f0dd";
    font-family: "Font Awesome 5 Free";
    font-size: 16px;
    font-weight: 900;
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
    right: 15px;
}

.select-selected-cp.active:after {
    content: "\f0dd";
}

.select-selected-cp.select-arrow-active:after {
    border-color: transparent transparent #fff transparent;
    top: 40%;
    transform: translateY(-50%);
}

.select-items div,
.select-selected-cp {
    color: #C6C6C6;
    cursor: pointer;
    font: 16px/21px "hiragino-kaku-gothic-pron-w3";
    padding: 10px 15px;
    user-select: none;
}

.select-items {
    background-color: #fff;
    border: 1px solid #e8e8e8;
    box-shadow: 0 10px 11px rgba(0, 0, 0, .21);
    position: absolute;
    background-color: #fff;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
}

.select-items div {
    font: 16px/21px "hiragino-kaku-gothic-pron-w3";
    padding: 5px 15px;
}

.select-hide {
    display: none;
}

.select-items div:hover,
.same-as-selected {
    background-color: #ADC202;
    color: #fff;
}

/*------- Custom Dropdown CSS Ends -------*/

.ymd-display-cp > p {
    color: #000;
    font: 16px/21px "hiragino-kaku-gothic-pron-w3";
}

/*------- Custom Radio Button CSS Starts -------*/

.gender-content-label,
.tcl-label {
    display: block;
    margin-bottom: 10px;
    position: relative;
}

input[class="gender-content-radio-input"],
input[class="tcl-radio-input"] {
    display: none;
}

input[class="gender-content-radio-input"] + span,
input[class="tcl-radio-input"] + span {
    background-color: #fff;
    border: 1px solid #E5E5E5;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    display: block;
    height: 30px;
    left: 0;
    position: absolute;
    top: 0;
    width: 30px;
}

input[class="gender-content-radio-input"] + span:after,
input[class="tcl-radio-input"] + span:after {
    border-width: 0 2px 2px 0;
    border-color: #fff;
    border-style: solid;
    content: "";
    height: 14px;
    left: 50%;
    position: absolute;
    top: 45%;
    transform: translate(-50%, -50%) rotate(45deg) scale(0);
    -webkit-transform: translate(-50%, -50%) rotate(45deg) scale(0);
    -moz-transform: translate(-50%, -50%) rotate(45deg) scale(0);
    -ms-transform: translate(-50%, -50%) rotate(45deg) scale(0);
    -o-transform: translate(-50%, -50%) rotate(45deg) scale(0);
    transition: 0.3s ease;
    -webkit-transition: 0.3s ease;
    -moz-transition: 0.3s ease;
    -ms-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    width: 7px;
}

input[class="gender-content-radio-input"] + span + span,
input[class="tcl-radio-input"] + span + span {
    color: #000000;
    display: block;
    font: 14px/30px "hiragino-kaku-gothic-pron-w3";
    padding-left: 40px;
    word-break: break-all;
}

input[class="gender-content-radio-input"]:checked + span,
input[class="tcl-radio-input"]:checked + span {
    background-color: #4086AB;
    border: 1px solid #4086AB;
}

input[class="gender-content-radio-input"]:checked + span:after,
input[class="tcl-radio-input"]:checked + span:after {
    transform: translate(-50%, -50%) rotate(45deg) scale(1);
    -webkit-transform: translate(-50%, -50%) rotate(45deg) scale(1);
    -moz-transform: translate(-50%, -50%) rotate(45deg) scale(1);
    -ms-transform: translate(-50%, -50%) rotate(45deg) scale(1);
    -o-transform: translate(-50%, -50%) rotate(45deg) scale(1);
}

/*------- Custom Radio Button CSS Ends -------*/

.custom-selection-sa-cp {
    margin-bottom: 1rem;
}

.custom-selection-sa-cp > select + .select-selected-cp {
    width: 100%;
}

textarea.form-control-cp {
    height: 150px;
    resize: none;
}

.apply-here-cp {
    text-align: center;
}

.btn-apply-cp {
    background-color: #EA7875;
    border: 0;
    border-bottom: 4px solid #DB4945;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    color: #fff;
    font: 14px/19px "hiragino-kaku-gothic-pron-w6";
    padding: 10px 50px;
    -webkit-transition: 0.5s linear;
    -moz-transition: 0.5s linear;
    -ms-transition: 0.5s linear;
    -o-transition: 0.5s linear;
    transition: 0.5s linear;
}

.btn-apply-cp:hover {
    background-color: #DB4945;
}

.btn-apply-cp:focus {
    outline: 0;
}

/*------- Contact Form Section Ends -------*/

/*------- Contact Us Page Ends -------*/

.image-container {
    float: left;
    margin-right: 5px;
}

.image-box {
    width: 100%;
    height: 100%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: contain;
}

.image-box img {
    width: 100%;
}

@media only screen and (max-width: 700px){
    .image-container {
        width: 100%;
        text-align: center;
    }

    .image-box {
        width: 100%;
        height: 100%;
    }

}

.error-message {
    color: red;
}
